---
const projects = await Astro.glob('../pages/*.md')
import ProjectLayout from '../layouts/ProjectLayout.astro'
---

<div class="mt-5" data-aos="zoom-in">
    <h1 class="mb-0 text-center projectsTitle">Projects</h1>
    <div class="row">
        {
            projects.map((project) => (
                <div class="col-md-4">
                    <ProjectLayout projectSelected={project.frontmatter} />
                </div>
            ))
        }
    </div>
    <p></p>
</div>
